h1,
h2,
h3,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  display: inline-block;
  text-decoration: none;
}

/* Main App */
.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

/* Navbar */
.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.navbar-nav {
  gap: 20px;
}

.navbar-brand {
  font-size: 1.5rem;
}

.nav-link {
  color: white !important;
  display: flex;
  gap: 5px;
  align-items: center;
}

.nav-link i {
  line-height: 1.5;
}

header .nav-link {
  font-size: 1.15rem;
}

/* Products */
.product-stock,
.product-qty-cart {
  display: flex;
  gap: 5px;
}

.product-qty-cart {
  gap: 15px;
}

.product-qty-cart .form-select {
  width: auto;
}

.form-select {
  padding: 0.75rem 2.5rem 0.75rem 1.5rem !important;
}

/* Cart */
.add-to-cart-icon {
  cursor: pointer;
  color: #444;
}
.add-to-cart-icon:active {
  color: rgb(31, 155, 207);
}

.add-to-cart-icon {
  cursor: pointer;
  color: #444;
}
.add-to-cart-icon:active {
  color: rgb(31, 155, 207);
}

.empty-cart {
  padding: 10px;
  border: 1px dashed #ddd;
  text-align: center;
}

.cart-item input {
  border: 1px solid #ddd;
  width: 50px;
  text-align: center;
}

.cart-item .buttons {
  display: flex;
  gap: 7px;
}

.cart-item .buttons button {
  border: 0;
  background-color: #ddd;
  padding: 2px 10px;
}

/* Rating */
.rating span i {
  color: tomato;
}

/* Footer */
.footer {
  margin-top: auto;
}
